Aerolinea/WSDL_V1/Aerolinea_V1.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.org/Aerolinea" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Aerolinea" targetNamespace="http://www.example.org/Aerolinea">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.org/Aerolinea">
 
	<element name="AgregarVueloRequest">
		<complexType>
			<sequence>
				<element name="agregar" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="AgregarVueloResponse">
		<complexType>
			<sequence>
				<element name="respuesta1"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="MostrarVueloRequest">
		<complexType>
			<sequence>
				<element name="mostrar" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="MostrarVueloResponse">
		<complexType>
			<sequence>
				<element name="respuesta2"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="ModificarVueloRequest">
		<complexType>
			<sequence>
				<element name="modificar" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ModificarVueloResponse">
		<complexType>
			<sequence>
				<element name="respuesta3"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="EliminarVueloRequest">
		<complexType>
			<sequence>
				<element name="eliminar" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="EliminarVueloResponse">
		<complexType>
			<sequence>
				<element name="respuesta4"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="ComprarBoletoRequest">
		<complexType>
			<sequence>
				<element name="comprar" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ComprarBoletoResponse">
		<complexType>
			<sequence>
				<element name="respuesta5"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="ComprobanteCompraRequest">
		<complexType>
			<sequence>
				<element name="comprobante" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ComprobanteCompraResponse">
		<complexType>
			<sequence>
				<element name="respuesta6"/>
			</sequence>
		</complexType>
	</element>	
 
</schema>
  </wsdl:types>
  <wsdl:message name="ComprarBoletoRequest">
    <wsdl:part element="tns:ComprarBoletoRequest" name="ComprarBoletoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ModificarVueloResponse">
    <wsdl:part element="tns:ModificarVueloResponse" name="ModificarVueloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EliminarVueloRequest">
    <wsdl:part element="tns:EliminarVueloRequest" name="EliminarVueloRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MostrarVueloResponse">
    <wsdl:part element="tns:MostrarVueloResponse" name="MostrarVueloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ModificarVueloRequest">
    <wsdl:part element="tns:ModificarVueloRequest" name="ModificarVueloRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ComprarBoletoResponse">
    <wsdl:part element="tns:ComprarBoletoResponse" name="ComprarBoletoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AgregarVueloResponse">
    <wsdl:part element="tns:AgregarVueloResponse" name="AgregarVueloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MostrarVueloRequest">
    <wsdl:part element="tns:MostrarVueloRequest" name="MostrarVueloRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AgregarVueloRequest">
    <wsdl:part element="tns:AgregarVueloRequest" name="AgregarVueloRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EliminarVueloResponse">
    <wsdl:part element="tns:EliminarVueloResponse" name="EliminarVueloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ComprobanteCompraRequest">
    <wsdl:part element="tns:ComprobanteCompraRequest" name="ComprobanteCompraRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ComprobanteCompraResponse">
    <wsdl:part element="tns:ComprobanteCompraResponse" name="ComprobanteCompraResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AerolineaPort">
    <wsdl:operation name="ComprarBoleto">
      <wsdl:input message="tns:ComprarBoletoRequest" name="ComprarBoletoRequest">
    </wsdl:input>
      <wsdl:output message="tns:ComprarBoletoResponse" name="ComprarBoletoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarVuelo">
      <wsdl:input message="tns:ModificarVueloRequest" name="ModificarVueloRequest">
    </wsdl:input>
      <wsdl:output message="tns:ModificarVueloResponse" name="ModificarVueloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarVuelo">
      <wsdl:input message="tns:EliminarVueloRequest" name="EliminarVueloRequest">
    </wsdl:input>
      <wsdl:output message="tns:EliminarVueloResponse" name="EliminarVueloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarVuelo">
      <wsdl:input message="tns:MostrarVueloRequest" name="MostrarVueloRequest">
    </wsdl:input>
      <wsdl:output message="tns:MostrarVueloResponse" name="MostrarVueloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarVuelo">
      <wsdl:input message="tns:AgregarVueloRequest" name="AgregarVueloRequest">
    </wsdl:input>
      <wsdl:output message="tns:AgregarVueloResponse" name="AgregarVueloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobanteCompra">
      <wsdl:input message="tns:ComprobanteCompraRequest" name="ComprobanteCompraRequest">
    </wsdl:input>
      <wsdl:output message="tns:ComprobanteCompraResponse" name="ComprobanteCompraResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AerolineaPortSoap11" type="tns:AerolineaPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ComprarBoleto">
      <soap:operation soapAction=""/>
      <wsdl:input name="ComprarBoletoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ComprarBoletoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarVuelo">
      <soap:operation soapAction=""/>
      <wsdl:input name="ModificarVueloRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ModificarVueloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarVuelo">
      <soap:operation soapAction=""/>
      <wsdl:input name="EliminarVueloRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="EliminarVueloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarVuelo">
      <soap:operation soapAction=""/>
      <wsdl:input name="MostrarVueloRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="MostrarVueloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarVuelo">
      <soap:operation soapAction=""/>
      <wsdl:input name="AgregarVueloRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AgregarVueloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobanteCompra">
      <soap:operation soapAction=""/>
      <wsdl:input name="ComprobanteCompraRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ComprobanteCompraResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AerolineaPortService">
    <wsdl:port binding="tns:AerolineaPortSoap11" name="AerolineaPortSoap11">
      <soap:address location="http://3.86.69.101:8080/ws/Aerolinea"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>